
.header{
    height: 1322px; 
    background: rgba(255, 144, 14, 0.1);
}
.nav{
    display: flex;
    justify-content: space-between;
    }
 
.nav3{
     display: flex;
     gap: 10px;
     top: 63px;
}
.section1{
height: 225px;
left: 529px;
top: 205px;
}
.brand2{
    height: 225px;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    
}
.para{
    width: 868px;
    height: 52px;
    left: 526px;
    top: 379px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.explore{
border-radius: 8px;    
height: 64px;
left: 870px;
top: 463px;


}
.btn{
    border: none;
    background-color: orange;
    width: 131px;
    height: 23px;
    left: 895px;
    top: 484px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
   
